<app-menu></app-menu>
<h2>{{title}}</h2>
<ul class="categorylisting my-3" *ngIf="doctors">
    <li *ngFor="let doctor of doctors.data">
        <div class="card-body d-flex align-items-center">
            <div class="circle-wrap d-flex justify-content-center p-0 align-items-center mr-4">
                <img [src]="doctor.avatar">
            </div>
            <div class="content-wrap">
                <h4 class="mb-0">{{doctor.name}}</h4>
                <h6 class="mb-2">{{doctor.department}}</h6>
                <p>{{doctor.qualification}}</p>
            </div>
        </div>
    </li>
</ul>
