.category{
    
    list-style: none;
    margin-left: 0px;
}
.category li{
    display: inline-block;
}
.category li h5{
    color: #10bbe6;
    font-size: 16px;

}
.category li a{
    text-decoration: none;
}
.circle-wrap{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #10bbe6;
}
.circle-wrap img{
    width: 100px;
}